<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<p>

</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Category</th>
      <th>Enabled</th>
      <th>Featured</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.code %></td>
        <td><%= product.description %></td>
        <td><%= product.category.name %></td>
        <td><%= product.enabled ? "Yes" : "No" %></td>
        <td><%= product.featured ? "Yes" : "No" %></td>
        <td class="actions">
          <%= link_to 'edit', product_path(product), class: "button" %>
          <%= link_to 'remove', product, class: "button", method: :delete, data: { confirm: 'Are you sure?' } %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination">
  <ul>
    <% 1.upto(Product.pages) do |page_number| %>
    <li><%= link_to page_number, products_path(page: page_number) %></li>
    <% end %>
  </ul>  
</div>
<br>

<%= link_to 'new product', new_product_path, class: "button" %>
